<div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-b from-blue-100 to-blue-400">
  <div class="bg-white p-8 rounded-2xl shadow-lg w-96">
    <h2 class="text-3xl font-semibold text-gray-700 text-center mb-6">Iniciar Sesión</h2>
    
    <form (ngSubmit)="onLogin()" class="space-y-4">
      <div>
        <label for="email" class="block text-gray-600 text-sm font-medium">Correo</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Ingresa tu correo"
          class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 transition">
      </div>

      <div>
        <label for="password" class="block text-gray-600 text-sm font-medium">Contraseña</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Ingresa tu contraseña"
          class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 transition">
      </div>

      <button type="submit"
        class="w-full bg-blue-500 text-white p-3 rounded-lg font-medium hover:bg-blue-600 transition">Ingresar</button>
    </form>

    <p class="mt-6 text-center text-sm text-gray-600">
      ¿No tienes cuenta?
      <a routerLink="/register" class="text-blue-600 font-medium hover:underline">Regístrate</a>
    </p>
  </div>
</div>
