
<div class="flex flex-col items-center justify-center">
    <p class="mb-4 text-lg font-semibold">Creación de un Curso:</p>

    <form (ngSubmit)="saveCourse()" class="w-80 flex flex-col gap-4">
        <input type="text" [(ngModel)]="course.name" name="name" placeholder="Nombre del curso" required class="border p-2 rounded w-full mb-4" />
        <input type="text" [(ngModel)]="course.description" name="description" placeholder="Descripción" required class="border p-2 rounded w-full mb-4" />
        
        <select [(ngModel)]="course.professorId" name="professorId" required class="border p-2 rounded w-full mb-4">
            <option value="" disabled selected>Seleccione un profesor</option>
            <option *ngFor="let prof of professors" [value]="prof.id">
                {{ prof.name }}
            </option>
        </select>



        <p class="mb-2 text-sm font-medium">Seleccione los cursos prerequisitos:</p>
        <div class="flex flex-wrap gap-2 mb-4">
            <label *ngFor="let prerequisite of prerequisites" class="flex items-center space-x-2">
                <input 
                    type="checkbox" 
                    [value]="prerequisite.id" 
                    (change)="togglePrerequisite(prerequisite.id)" 
                    [checked]="course.prerequisiteIds.includes(prerequisite.id)" 
                />
                <span>{{ prerequisite.name }}</span>
            </label>
        </div>

        <button type="submit" class="bg-blue-500 text-white p-2 rounded w-full">Guardar Curso</button>
        <button (click)="goToCourses()" class="bg-green-500 text-white p-2 rounded w-full mt-4">Ver Cursos</button>

    </form>
 
</div>

