<div class="flex flex-col items-center justify-center">
    <p class="mb-4 text-lg font-semibold">Lista de Departamentos</p>

    <table class="border-collapse border border-gray-400 w-3/4">
        <thead>
            <tr class="bg-gray-200">
                <th class="border border-gray-400 px-4 py-2">ID</th>
                <th class="border border-gray-400 px-4 py-2">Nombre</th>
                <th class="border border-gray-400 px-4 py-2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let department of departments">
                <td class="border border-gray-400 px-4 py-2">{{ department.id }}</td>
                <td class="border border-gray-400 px-4 py-2">{{ department.name }}</td>
                <td class="border border-gray-400 px-4 py-2 flex gap-2">
                    <button (click)="editDepartment(department.id)" class="bg-yellow-500 text-white px-2 py-1 rounded">
                        <lucide-icon [name]="EditIcon"></lucide-icon>
                    </button>
                    <button (click)="deleteDepartment(department.id)" class="bg-red-500 text-white px-2 py-1 rounded">
                        <lucide-icon [name]="TrashIcon"></lucide-icon>
                    </button>
                    
                </td>
            </tr>
        </tbody>
    </table>

</div>
