<div class="h-screen w-64 bg-gray-800 text-white flex flex-col p-4">
    <h2 class="text-xl font-bold mb-6">Dashboard</h2>
    
    <nav class="flex flex-col space-y-4">
        <a routerLink="/students" class="hover:bg-gray-700 p-2 rounded">🏠 Estudiantes</a>
        <a routerLink="/schedules" class="hover:bg-gray-700 p-2 rounded">📅 Horarios</a>
        <a routerLink="/courses" class="hover:bg-gray-700 p-2 rounded">📚 Cursos</a>
        <a routerLink="/enrollments" class="hover:bg-gray-700 p-2 rounded">📅 Matriculas</a>
        <a routerLink="/departments" class="hover:bg-gray-700 p-2 rounded">🏢 Departamentos</a>
        <a routerLink="/grades" class="hover:bg-gray-700 p-2 rounded">📊 Calificaciones</a>
        <a routerLink="/assessments" class="hover:bg-gray-700 p-2 rounded">📊 Evaluaciones</a>
        <a routerLink="/professors" class="hover:bg-gray-700 p-2 rounded">👨‍🏫 Profesores</a>
    </nav>
</div>
